.header {
    background: linear-gradient(92.33deg, #196B78 0.12%, #138496 100%);
    box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.16);
}

.header__emoji {
    position: relative;
    padding-top: 64px;
    padding-bottom: 96px; 
}

.header__title {
    margin-bottom: 12px;
    font-size: 72px;
    font-weight: 700;
    line-height: 87px;
    text-align: center;
    color: rgba(204, 248, 255, 1);
}

.header__text {
    font-size: 21px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    color: rgba(204, 248, 255, 1);
}

.header__search {
    position: absolute;
    left: 50%;
    margin-left: -410px;
    bottom: -38px;
    display: block;
    padding-left: 32px;
    width: 820px;
    height: 75px;
    border: 1px solid #CED4DA;
    box-sizing: border-box;
    border-radius: 4px;
    color: #000;
}

input[placeholder="Placeholder"] {
    font-size: 24px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #000;
}

@media (max-width: 820px) {
    input[type="text"] {
        width: 650px;
         margin-left: -325px;
    }
}

@media (max-width: 649px) {
    input[type="text"] {
        width: 350px;
         margin-left: -175px;
    }
}

@media (max-width: 375px) {
    input[type="text"] {
        width: 200px;
         margin-left: -100px;
    }
}